body {
    background: url("https://previews.123rf.com/images/vska/vska1412/vska141200157/34603101-abstract-vector-background-futuristic-technology-style-elegant-background-for-business-tech-presenta.jpg") no-repeat center top / cover;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;

}
ul {
    padding: 0;
}
header, footer {
    background: url("http://www.bugsex.net/images/bcg.jpg");
    padding: 20px 0;
    border: 10px gray;
    box-shadow: 0 0 0 3px #DDD6C6, 0 0 13px #333;
}
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}
h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}
h3 {
    font-family: 'Sulphur Point', sans-serif;

}
div {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
main {
    font-size: 20px;


}
aside, main {
width: 50%;
    float: left;
}
aside img{
    display: block;
    width: 60%;
    margin: auto;
    padding: 30px 0;
    border-radius: 10px;


}
footer p {
    color: white;
    text-align: center;
}
footer ul {
    display: block;
    text-align: center;
}
.info {
padding: 10px 120px;
    margin: 0;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: red;
}